* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: auto;
    position: relative;
    padding-bottom: 200px; /* Height of the footer */
}

.maintitle {
    padding-top: 14vh;
    margin-top: 6.5vw;
    margin-bottom: 2.3em;
}

.maintitle h1 {
    text-align: center;
    font-size: 3em;
    color: #303030;
    margin-bottom: 0.2em;
}

.maintitle p {
    margin: 0;
}

.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
    padding-bottom: 30vh;
}

a.link {
    text-decoration: none;
    color: #303030;
    border: 2px solid #303030;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 0.5em;
    font-size: 1.2em;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}

a.link:hover {
    background-color: #303030;
    color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

a.link::before {
    content: "";
    background: linear-gradient(120deg, transparent, #303030, transparent);
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.7s;
}

a.link:hover::before {
    left: 100%;
}















.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 2em;
    position: absolute;
    width: 100%;
    bottom: -200px; /* Keep it out of sight initially */
    transition: all 0.5s ease;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.footer-section,
.footer-image {
    flex: 1;
    text-align: center;
    margin: 0 1em;
    transition: all 0.3s ease;
}

.footer-section h2:hover,
.footer-section p:hover,
.footer-section ul:hover,
.footer-image img:hover {
    transform: scale(1.05);
}

.footer-image img {
    max-width: 100px;
    max-height: 100px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li a {
    color: #fff;
    transition: all 0.3s ease;  /* Added 'all' to apply transition to all properties including transform */
    text-decoration: none; 
    display: inline-block;  /* Needed to apply transform effects to inline elements */
}

.footer-section ul li a:hover {
    color: #f5f5f5;
    transform: scale(1.5);  /* Make the link 20% larger when hovered over */
}

.footer-section ul li a img {
    width: 32px;   /* adjust as needed */
    height: 32px;  /* adjust as needed */
}

.social-section {
    display:inline-block;
}

.social-section ul {
    display: flex;
    list-style-type: none; /* Remove bullet points */
    justify-content: space-between; /* Optional: add some space between icons */
    padding: 0; /* Remove padding */
}

/* Adjustments for each list item */
.social-section ul li {
    margin-right: 10px; /* Optional: add some space at the right of each item */
}



@media (max-width: 600px) {
    body {
        padding-bottom: 80vh;
    }
    .maintitle {
        padding-top: 10vh;
        margin-top: 0vw;

    }

    .footer {
        bottom: -300px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section,
    .footer-image {
        margin-top: 2em; /* Add space on top of each footer-section when on mobile */
        margin-bottom: 2em; /* Add space at the bottom of each footer-section when on mobile */
    }
}





