body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Purple */
    color: #ffffff; /* Gold */
    font-family: Arial, sans-serif;
    overflow: hidden;
    font-size:larger;
}

.stars, .stars2, .stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url("/images/starstt.png") repeat top center;
}

.stars {
    z-index: 1;
    animation: move-background linear 200s infinite;
}

.stars2 {
    z-index: 2;
    animation: move-background linear 150s infinite;
}

.stars3 {
    z-index: 3;
    animation: move-background linear 100s infinite;
}

@keyframes move-background {
    from {background-position: 0 0;}
    to {background-position: 0 -5000px;}
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 10px #9900ff, 0 0 20px #9900ff, 0 0 30px #9900ff, 0 0 40px #9900ff; /* Shades of Gold */
}

.tagline {
    margin-bottom: 2em;
    font-size: 1.5em;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff; /* Shades of Purple */
}

.purchase-btn {
    border: none;
    padding: 1em 2em;
    color: #ffffff; /* White */
    background-color: rgb(199, 184, 48); /* Red */
    font-size: 1.2em;
    cursor: pointer;
    animation: pulse 2s infinite;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 0 25px 10px #ffffff; /* Red */
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


@media (max-width: 600px) {
    .hero {
        top: 43vh; /* adjust this value to move the hero section up or down */
    }
}
