/* add Img height and #full  */

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background: #000000;
  height: auto;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 85%;
}


main {
  max-width: 1100px;
  margin: auto;
  box-shadow: 40px 0px 40px #81e4ff,
    -40px 0px 40px #81e4ff;
}

#title1 {
  font-size: 10vh;
  text-align: center;
  color: #ffffff;
  background-color: rgb(2, 5, 43);
  text-shadow: 0 0 10px #1f84ff, 0 0 20px #1f84ff, 0 0 30px #1f84ff, 0 0 40px #1f84ff;
  margin-top: 1vh;
}

#title2 {
  font-size: 2.5vh;
  text-align: center;
  color: #36d16d;
  background-color: rgb(2, 5, 43);
  margin-top: 1vh;
}


#landing {
  background: rgb(2, 5, 43);
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url(/images/cbum1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

#landing-image2 {
  background: url("/images/dldl4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  position: relative;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #8ff6ff;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #8ff6ff;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.btn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn:hover {
  color: #fff;
  font-size: 2.2vh;
  border-color: #fff;
  background: #02e65d;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.btn:hover:before {
  transform: scale(1);
}

.btn:hover:after {
  width: 200%;
  height: 200%;
}














.btn2 {
  position: relative;
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #8ff6ff;
  ;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bfff00;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.btn2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
}

.btn2:hover {
  color: #000000;
  border-color: #fff;
  background: #00f2ff;
  box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.btn2:hover:before {
  transform: scale(1);
}

.btn2:hover:after {
  width: 200%;
  height: 200%;
}









#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 2.5vh;
}

#header2 {
  padding: 1.5rem;
  text-align: center;
  background: #18947b;
  color: #fff;
  font-size: 2.5vh;
}

#header3 {
  padding: 1.5rem;
  text-align: center;
  background: #18947b;
  color: #fff;
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}

#logo {
  padding-top: 15px;
  width: 30%
}

#logo2 {
  padding-top: 15px;
  width: 30%
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  min-height: 100%;
  padding: 0.8rem;
  text-align: center;
  background-color: #18947b;
  color: white;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #ffffff;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .btn:hover {
    color: #fff;
    font-size: 1rem;
    border-color: #fff;
    background: #02e65d;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  .btn:hover:after {
    width: 100%;
    height: 100%;
  }
  
  #landing-text-inner {
    margin-bottom: 50px;
  }

  .btn2 {
    width: 80%;
  }

  
  #landing-image {
    height: 60vh;
  }
  #landing-image2 {
    height: 60vh;
  }

  #logo {
      padding-top: 0px;
      margin-top: 0px;
      padding-left:15.5vw;
      width: 60%;
  }
  #logo2 {
    width: 0%;

  }
  #header3 {
    
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


}


/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }

  #full {
    height: 100vh;
    /* background: #fff; */
  }
}

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}